
p {border: 150px; padding: 30px; margin: 50px;}
h1 {border: 150px; padding: 30px; margin: 50px;}




<link href="https://fonts.googleapis.com/css?family=B612+Mono" rel="stylesheet">
h1{font-family: 'B612 Mono', monospace;}



sup {
    vertical-align: super;
    font-size: smaller;
}
