
p {border: 150px; padding: 30px; margin: 50px;}
h1 {border: 150px; padding: 30px; margin: 50px;}



<style type="text/css">
@font-face {
    font-family: "Monotype 1";
    src: url(https://fonts.google.com/specimen/B612+Mono) format("truetype");


sup {
    vertical-align: super;
    font-size: smaller;
}
