
p {border: 150px; padding: 30px; margin: 50px;}

<link href="https://fonts.googleapis.com/css?family=B612+Mono" rel="stylesheet">
h1{font-family: 'B612 Mono', monospace;}
body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
